@import url(https://fr.allfont.net/allfont.css?fonts=haettenschweiler);

body {
    background-color: #EFE6DD;
    margin: 0px;
}

/* Contenu */

.infobar {
    background-color: #231F20;
}

.text {
    font-family: 'Haettenschweiler', arial;
}

a {
    text-decoration: none;
    color: white;
}

#logoFB {
    width: 2em;
    color: white;
    margin-top: 0.1em;
}

#logoTwitter {
    margin-top: 0.2em;
    width: 1em;
}

p{
    margin: 0;
}

#manu1 {
    width: 100%;
    height: auto;
    border: solid black 5px;
}

#logo1 {
    height: auto;
    width: 14rem;
    padding-left: 4rem;
    padding-top: 2rem;
}

#infos {
    color: #BF5F4F;
    margin-left: 2rem;
    margin-top: 4.5rem;
}

#pc1 {
    width: 10rem;
    height: auto;
}

#console1 {
    width: 12rem;
    height: auto;
}

#tel1 {
    width: 6rem;
    height: auto;
}

#titre {
    color: #BF5F4F;
    padding-top: 3rem;
    font-family: 'Haettenschweiler', arial;
}

#paragraphe {
    position: relative;
    top: -2rem;
    font-size: 2rem;
    font-family: 'Haettenschweiler', arial;
}

@media screen and (max-width: 959px) {
    #titre, #paragraphe{
        margin-left: 2rem;
    }
}

@media screen and (min-width: 960px) {
    .row-first{
        margin-left: 5%;
    }
    .container-fluid{
        margin-left: 5%;
    }
    #manu1{
        border-radius: 0 0 0 2vw;
    }
}

@media screen and (min-width: 576px) and (max-width: 959px){
    .row-first{
        margin-left: 20%;
    }
    .container-fluid{
        margin-left: 20%;
    }
}

/* Fin Contenu */