/*Modal Connexion*/

.modal-content.connexion {
    min-width: 75%;
}

.modal-header h2 {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0px;
}

#btnLogin {
    background-color: #BB4430;
    width: 80%;
    border: none;
    font-size: 1.5rem;
}

/*Fin Modal Connexion*/

.closeModal{
    display: flex;
    justify-content: end;
}

.btn-close{
    margin: 0.5em;
}

.modal-header{
    padding-top: 0;
}

/* Modal Réservation */

.modal-content.register {
    min-width: 75%;
}

.modal-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.imgRegister {
    width: 20%;
    height: 80%;
}

.bottomText{
    font-family: 'Times New Roman', Times, serif;
}

.choicePlace{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box:hover {
    background-color: #bfb;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}

input[type="radio"] {
    opacity: 0;
    width: 0;
    margin: 0;
}

input[type="radio"]+label {
    display: inline-block;
    margin-left: 0.1em;
}

input[type="radio"]:checked+label {
    background-color: #4fdd79;
    border-color: #4c4;
    transform: scale(1.2);

}

.box {
    background-color: gray;
    width: 9%;
    height: 50px;
    margin-bottom: 0.5%;
    border-radius: 5%;
}

#submit {
    width: 80%;
    border: none;
    background-color: #BB4430;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

/* Fin Modal Réservation */